body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#controls, #productTable {
    margin: 20px;
}

select {
    width: 150px;
    height: 200px;
}

#actionButtons {
    margin: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}
